html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

caption {
  border: 1px solid black;
  font-family: Calibri;
  font-size: 18px;
  font-weight: bold;
}

th {
  font-family: Calibri;
}

.tabelas {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0.5%;
}

.campostabela {
  background-color: #e0e2ff;
  border: none;
  border-color: black;
  border-width: thin;
  height: 20px;
  font-size: 16px;
}

.campos {
  background-color: #e0e2ff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: black;
  border-width: thin;
  height: 20px;
  font-size: 16px;
}

.inputstabelas {
  width: 100%;
}

#cabecalho {
  width: 96%;
}

#celulalogo {
  width: 15%;
}

#logo {
  width: 100%;
}

#celulatitulo {
  text-align: center;
  font-size: 19px;
  font-family: Arial;
  font-weight: bold;
}

#dados {
  width: 93%;
  margin-left: 2%;
}

#dados label {
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
}

#nome {
  width: 70%;
}

#nome input {
  width: 80%;
  display: inline-block;
}

#codigo input {
  width: 70%;
  display: inline-block;
}

#bensimoveis {
  margin-top: 2%;
  margin-left: 2%;
  width: 93%;
}

#especie {
  width: 25%;
}

#valoratual {
  width: 20%;
}

#uf {
  width: 10%;
}

#total {
  width: 100%;
}

#outrosbens {
  margin-top: 2%;
  margin-left: 2%;
  width: 93%;
}

#tipo {
  width: 25%;
}

#valorbens {
  width: 20%;
}

#totalbens {
  width: 100%;
}

#rendimentos {
  margin-top: 2%;
  margin-left: 2%;
  width: 93%;
}

#rendimentosmensais {
  width: 70%;
}

#rendimentosmensais td {
  text-align: center;
}

.rendimentos {
  width: 100%;
}

.celulasrendimentos {
  text-align: center;
  font-weight: bold;
  font-family: Arial;
  font-size: 14px;
}

#responsabiliza {
  width: 93%;
  margin-left: 2%;
  margin-top: 1%;
  font-size: 15px;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
}

#localdata {
  width: 100%;
  text-align: center;
}

#local {
  width: 26%;
  margin-right: 0.5%;
  text-align: center;
}

#data {
  width: 26%;
  position: static;
  text-align: center;
}

#labellocal {
  display: block;
}

#labeldata {
  display: inline;
}

#assinatura {
  width: 50%;
  padding-top: 2%;
  text-align: center;
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  display: none;
}

#imprimir button {
  width: 400px;
  height: 100px;
  font-size: 25px;
  font-weight: bold;
  border-color: red;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#inputassinatura {
  width: 100%;
}

#assinatura input {
  display: block;
  width: 100%;
}

#ouvidoria {
  font-family: Calibri;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  width: 50%;
  height: 5%;
  left: 0%;
  right: 0%;
  margin: auto;
}
